In [1]:
import pandas as pd
import numpy as np

In [2]:
bank_data = pd.read_csv("bank.csv")

In [3]:
print(type(bank_data))

<class 'pandas.core.frame.DataFrame'>

In [4]:
bank_data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,married,tertiary,no,307,yes,no,cellular,14,may,341,1,330,2,other,no
7,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,married,tertiary,no,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no
10,39,services,married,secondary,no,9374,yes,no,unknown,20,may,273,1,-1,0,unknown,no
11,43,admin.,married,secondary,no,264,yes,no,cellular,17,apr,113,2,-1,0,unknown,no
12,36,technician,married,tertiary,no,1109,no,no,cellular,13,aug,328,2,-1,0,unknown,no
13,20,student,single,secondary,no,502,no,no,cellular,30,apr,261,1,-1,0,unknown,yes
14,31,blue-collar,married,secondary,no,360,yes,yes,cellular,29,jan,89,1,241,1,failure,no
15,40,management,married,tertiary,no,194,no,yes,cellular,29,aug,189,2,-1,0,unknown,no
16,56,technician,married,secondary,no,4073,no,no,cellular,27,aug,239,5,-1,0,unknown,no
17,37,admin.,single,tertiary,no,2317,yes,no,cellular,20,apr,114,1,152,2,failure,no
18,25,blue-collar,single,primary,no,-221,yes,no,unknown,23,may,250,1,-1,0,unknown,no
19,31,services,married,secondary,no,132,no,no,cellular,7,jul,148,1,152,1,other,no
20,38,management,divorced,unknown,no,0,yes,no,cellular,18,nov,96,2,-1,0,unknown,no
21,42,management,divorced,tertiary,no,16,no,no,cellular,19,nov,140,3,-1,0,unknown,no
22,44,services,single,secondary,no,106,no,no,unknown,12,jun,109,2,-1,0,unknown,no
23,44,entrepreneur,married,secondary,no,93,no,no,cellular,7,jul,125,2,-1,0,unknown,no
24,26,housemaid,married,tertiary,no,543,no,no,cellular,30,jan,169,3,-1,0,unknown,no
25,41,management,married,tertiary,no,5883,no,no,cellular,20,nov,182,2,-1,0,unknown,no
26,55,blue-collar,married,primary,no,627,yes,no,unknown,5,may,247,1,-1,0,unknown,no
27,67,retired,married,unknown,no,696,no,no,telephone,17,aug,119,1,105,2,failure,no
28,56,self-employed,married,secondary,no,784,no,yes,cellular,30,jul,149,2,-1,0,unknown,no
29,53,admin.,married,secondary,no,105,no,yes,cellular,21,aug,74,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,35,blue-collar,single,secondary,no,0,yes,no,cellular,16,apr,169,1,-1,0,unknown,no
4492,32,technician,single,secondary,no,309,yes,yes,cellular,16,apr,346,1,234,3,failure,no
4493,28,technician,single,tertiary,no,0,yes,no,unknown,4,jun,205,6,-1,0,unknown,no
4494,26,technician,single,secondary,no,668,yes,no,unknown,28,may,576,3,-1,0,unknown,yes
4495,48,management,married,tertiary,no,1175,yes,no,telephone,18,nov,1476,3,-1,0,unknown,no
4496,30,blue-collar,single,secondary,no,363,no,no,cellular,28,jul,171,3,-1,0,unknown,no
4497,31,entrepreneur,single,tertiary,no,38,no,no,cellular,20,nov,185,2,-1,0,unknown,no
4498,31,management,married,tertiary,no,1183,yes,no,unknown,27,may,676,6,-1,0,unknown,no
4499,45,blue-collar,divorced,primary,no,942,no,no,cellular,21,nov,362,1,-1,0,unknown,no
4500,38,admin.,married,secondary,no,4196,yes,no,cellular,12,may,193,2,-1,0,unknown,no
4501,34,management,married,tertiary,no,297,yes,no,cellular,26,aug,63,4,-1,0,unknown,no
4502,42,services,married,secondary,no,-91,yes,yes,cellular,5,feb,43,1,-1,0,unknown,no
4503,60,self-employed,married,primary,no,362,no,yes,cellular,29,jul,816,6,-1,0,unknown,yes
4504,42,blue-collar,single,secondary,no,1080,yes,yes,cellular,13,may,951,3,370,4,failure,yes
4505,32,admin.,single,secondary,no,620,yes,no,unknown,26,may,1234,3,-1,0,unknown,yes
4506,42,unemployed,divorced,tertiary,no,-166,no,no,cellular,29,aug,85,4,-1,0,unknown,no
4507,33,services,married,secondary,no,288,yes,no,cellular,17,apr,306,1,-1,0,unknown,no
4508,42,admin.,married,unknown,no,642,yes,yes,unknown,16,may,509,2,-1,0,unknown,no
4509,51,technician,married,tertiary,no,2506,no,no,cellular,30,nov,210,3,-1,0,unknown,no
4510,36,technician,divorced,secondary,no,566,yes,no,unknown,20,may,129,2,-1,0,unknown,no
4511,46,blue-collar,married,secondary,no,668,yes,no,unknown,15,may,1263,2,-1,0,unknown,yes
4512,40,blue-collar,married,secondary,no,1100,yes,no,unknown,29,may,660,2,-1,0,unknown,no
4513,49,blue-collar,married,secondary,no,322,no,no,cellular,14,aug,356,2,-1,0,unknown,no
4514,38,blue-collar,married,secondary,no,1205,yes,no,cellular,20,apr,45,4,153,1,failure,no
4515,32,services,single,secondary,no,473,yes,no,cellular,7,jul,624,5,-1,0,unknown,no
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [5]:
bank_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [6]:
bank_data.iloc[1, 1]

'services'

In [7]:
bank_data.iloc[0:3, 0:3]

   age         job  marital
0   30  unemployed  married
1   33    services  married
2   35  management   single

In [8]:
bank_data.iloc[:11:2, :11:2]

    age  marital default housing   contact month
0    30  married      no      no  cellular   oct
2    35   single      no     yes  cellular   apr
4    59  married      no     yes   unknown   may
6    36  married      no     yes  cellular   may
8    41  married      no     yes   unknown   may
10   39  married      no     yes   unknown   may

In [9]:
# bank_data.iloc[1, 1] と同じ出力結果になる
bank_data.loc[1, "job"]

'services'

In [10]:
# bank_data.iloc[:11:2, :11:2] と同じ出力結果になる
bank_data.loc[:10:2, ["age", "marital", "default", "housing", "contact", "month"]]

    age  marital default housing   contact month
0    30  married      no      no  cellular   oct
2    35   single      no     yes  cellular   apr
4    59  married      no     yes   unknown   may
6    36  married      no     yes  cellular   may
8    41  married      no     yes   unknown   may
10   39  married      no     yes   unknown   may

In [17]:
bank_data.loc[:,["age", "marital", "default", "housing", "contact", "month"]]

      age   marital default housing    contact month
0      30   married      no      no   cellular   oct
1      33   married      no     yes   cellular   may
2      35    single      no     yes   cellular   apr
3      30   married      no     yes    unknown   jun
4      59   married      no     yes    unknown   may
5      35    single      no      no   cellular   feb
6      36   married      no     yes   cellular   may
7      39   married      no     yes   cellular   may
8      41   married      no     yes    unknown   may
9      43   married      no     yes   cellular   apr
10     39   married      no     yes    unknown   may
11     43   married      no     yes   cellular   apr
12     36   married      no      no   cellular   aug
13     20    single      no      no   cellular   apr
14     31   married      no     yes   cellular   jan
15     40   married      no      no   cellular   aug
16     56   married      no      no   cellular   aug
17     37    single      no     yes   cellular   apr
18     25    single      no     yes    unknown   may
19     31   married      no      no   cellular   jul
20     38  divorced      no     yes   cellular   nov
21     42  divorced      no      no   cellular   nov
22     44    single      no      no    unknown   jun
23     44   married      no      no   cellular   jul
24     26   married      no      no   cellular   jan
25     41   married      no      no   cellular   nov
26     55   married      no     yes    unknown   may
27     67   married      no      no  telephone   aug
28     56   married      no      no   cellular   jul
29     53   married      no      no   cellular   aug
...   ...       ...     ...     ...        ...   ...
4491   35    single      no     yes   cellular   apr
4492   32    single      no     yes   cellular   apr
4493   28    single      no     yes    unknown   jun
4494   26    single      no     yes    unknown   may
4495   48   married      no     yes  telephone   nov
4496   30    single      no      no   cellular   jul
4497   31    single      no      no   cellular   nov
4498   31   married      no     yes    unknown   may
4499   45  divorced      no      no   cellular   nov
4500   38   married      no     yes   cellular   may
4501   34   married      no     yes   cellular   aug
4502   42   married      no     yes   cellular   feb
4503   60   married      no      no   cellular   jul
4504   42    single      no     yes   cellular   may
4505   32    single      no     yes    unknown   may
4506   42  divorced      no      no   cellular   aug
4507   33   married      no     yes   cellular   apr
4508   42   married      no     yes    unknown   may
4509   51   married      no      no   cellular   nov
4510   36  divorced      no     yes    unknown   may
4511   46   married      no     yes    unknown   may
4512   40   married      no     yes    unknown   may
4513   49   married      no      no   cellular   aug
4514   38   married      no     yes   cellular   apr
4515   32    single      no     yes   cellular   jul
4516   33   married      no     yes   cellular   jul
4517   57   married     yes     yes    unknown   may
4518   57   married      no      no   cellular   aug
4519   28   married      no      no   cellular   feb
4520   44    single      no     yes   cellular   apr

[4521 rows x 6 columns]

In [18]:
bank_data.query("age >= 35")

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,married,tertiary,no,307,yes,no,cellular,14,may,341,1,330,2,other,no
7,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,married,tertiary,no,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no
10,39,services,married,secondary,no,9374,yes,no,unknown,20,may,273,1,-1,0,unknown,no
11,43,admin.,married,secondary,no,264,yes,no,cellular,17,apr,113,2,-1,0,unknown,no
12,36,technician,married,tertiary,no,1109,no,no,cellular,13,aug,328,2,-1,0,unknown,no
15,40,management,married,tertiary,no,194,no,yes,cellular,29,aug,189,2,-1,0,unknown,no
16,56,technician,married,secondary,no,4073,no,no,cellular,27,aug,239,5,-1,0,unknown,no
17,37,admin.,single,tertiary,no,2317,yes,no,cellular,20,apr,114,1,152,2,failure,no
20,38,management,divorced,unknown,no,0,yes,no,cellular,18,nov,96,2,-1,0,unknown,no
21,42,management,divorced,tertiary,no,16,no,no,cellular,19,nov,140,3,-1,0,unknown,no
22,44,services,single,secondary,no,106,no,no,unknown,12,jun,109,2,-1,0,unknown,no
23,44,entrepreneur,married,secondary,no,93,no,no,cellular,7,jul,125,2,-1,0,unknown,no
25,41,management,married,tertiary,no,5883,no,no,cellular,20,nov,182,2,-1,0,unknown,no
26,55,blue-collar,married,primary,no,627,yes,no,unknown,5,may,247,1,-1,0,unknown,no
27,67,retired,married,unknown,no,696,no,no,telephone,17,aug,119,1,105,2,failure,no
28,56,self-employed,married,secondary,no,784,no,yes,cellular,30,jul,149,2,-1,0,unknown,no
29,53,admin.,married,secondary,no,105,no,yes,cellular,21,aug,74,2,-1,0,unknown,no
30,68,retired,divorced,secondary,no,4189,no,no,telephone,14,jul,897,2,-1,0,unknown,yes
32,59,management,married,secondary,no,42,no,no,cellular,21,nov,40,1,-1,0,unknown,no
34,49,technician,married,tertiary,no,1235,no,no,cellular,13,aug,354,3,-1,0,unknown,yes
35,42,admin.,divorced,secondary,no,1811,yes,no,unknown,14,may,150,1,-1,0,unknown,no
36,78,retired,divorced,primary,no,229,no,no,telephone,22,oct,97,1,-1,0,unknown,yes
40,38,management,single,tertiary,no,11971,yes,no,unknown,17,nov,609,2,101,3,failure,no
41,36,management,single,tertiary,no,553,no,no,cellular,11,aug,106,2,-1,0,unknown,no
42,52,blue-collar,married,secondary,no,1117,yes,no,cellular,13,may,365,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4475,43,blue-collar,married,secondary,no,1335,yes,no,unknown,6,may,371,2,-1,0,unknown,no
4476,42,management,married,tertiary,no,603,yes,no,cellular,5,nov,298,5,-1,0,unknown,no
4478,43,management,married,tertiary,no,0,yes,no,cellular,17,nov,110,1,-1,0,unknown,no
4479,39,admin.,single,secondary,no,163,yes,no,cellular,30,jan,107,2,-1,0,unknown,no
4481,43,services,married,secondary,no,642,no,no,cellular,31,jul,644,2,-1,0,unknown,no
4482,46,admin.,married,secondary,no,466,yes,no,cellular,29,jan,169,1,-1,0,unknown,no
4484,38,management,married,tertiary,no,3436,no,no,cellular,21,nov,663,4,-1,0,unknown,yes
4485,53,blue-collar,married,primary,no,238,yes,no,cellular,11,may,238,2,361,5,failure,no
4486,37,blue-collar,married,primary,no,378,yes,no,unknown,9,may,514,1,-1,0,unknown,no
4487,49,entrepreneur,divorced,secondary,no,32,no,no,cellular,5,feb,128,1,-1,0,unknown,no
4489,45,management,married,tertiary,no,6945,no,no,cellular,5,aug,131,5,356,3,failure,no
4490,58,admin.,married,secondary,no,3496,yes,no,unknown,2,jun,111,4,-1,0,unknown,no
4491,35,blue-collar,single,secondary,no,0,yes,no,cellular,16,apr,169,1,-1,0,unknown,no
4495,48,management,married,tertiary,no,1175,yes,no,telephone,18,nov,1476,3,-1,0,unknown,no
4499,45,blue-collar,divorced,primary,no,942,no,no,cellular,21,nov,362,1,-1,0,unknown,no
4500,38,admin.,married,secondary,no,4196,yes,no,cellular,12,may,193,2,-1,0,unknown,no
4502,42,services,married,secondary,no,-91,yes,yes,cellular,5,feb,43,1,-1,0,unknown,no
4503,60,self-employed,married,primary,no,362,no,yes,cellular,29,jul,816,6,-1,0,unknown,yes
4504,42,blue-collar,single,secondary,no,1080,yes,yes,cellular,13,may,951,3,370,4,failure,yes
4506,42,unemployed,divorced,tertiary,no,-166,no,no,cellular,29,aug,85,4,-1,0,unknown,no
4508,42,admin.,married,unknown,no,642,yes,yes,unknown,16,may,509,2,-1,0,unknown,no
4509,51,technician,married,tertiary,no,2506,no,no,cellular,30,nov,210,3,-1,0,unknown,no
4510,36,technician,divorced,secondary,no,566,yes,no,unknown,20,may,129,2,-1,0,unknown,no
4511,46,blue-collar,married,secondary,no,668,yes,no,unknown,15,may,1263,2,-1,0,unknown,yes
4512,40,blue-collar,married,secondary,no,1100,yes,no,unknown,29,may,660,2,-1,0,unknown,no
4513,49,blue-collar,married,secondary,no,322,no,no,cellular,14,aug,356,2,-1,0,unknown,no
4514,38,blue-collar,married,secondary,no,1205,yes,no,cellular,20,apr,45,4,153,1,failure,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [19]:
bank_data.query("marital == 'single'")

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
13,20,student,single,secondary,no,502,no,no,cellular,30,apr,261,1,-1,0,unknown,yes
17,37,admin.,single,tertiary,no,2317,yes,no,cellular,20,apr,114,1,152,2,failure,no
18,25,blue-collar,single,primary,no,-221,yes,no,unknown,23,may,250,1,-1,0,unknown,no
22,44,services,single,secondary,no,106,no,no,unknown,12,jun,109,2,-1,0,unknown,no
33,32,management,single,tertiary,no,2536,yes,no,cellular,26,aug,958,6,-1,0,unknown,yes
39,23,services,single,tertiary,no,363,yes,no,unknown,30,may,16,18,-1,0,unknown,no
40,38,management,single,tertiary,no,11971,yes,no,unknown,17,nov,609,2,101,3,failure,no
41,36,management,single,tertiary,no,553,no,no,cellular,11,aug,106,2,-1,0,unknown,no
44,32,technician,single,tertiary,no,2204,yes,no,cellular,21,nov,11,4,-1,0,unknown,no
45,34,management,single,tertiary,no,872,yes,no,unknown,7,may,105,2,-1,0,unknown,no
48,32,entrepreneur,single,primary,yes,-849,yes,yes,cellular,4,feb,204,1,-1,0,unknown,no
51,37,technician,single,secondary,no,228,yes,no,cellular,20,aug,1740,2,-1,0,unknown,no
52,38,technician,single,secondary,no,50,no,no,cellular,29,aug,98,2,-1,0,unknown,no
57,33,self-employed,single,tertiary,no,2155,no,no,cellular,17,nov,295,1,-1,0,unknown,no
58,36,retired,single,secondary,no,101,yes,yes,unknown,26,may,314,1,-1,0,unknown,no
69,32,technician,single,tertiary,no,360,no,no,cellular,19,nov,164,2,-1,0,unknown,no
72,31,management,single,tertiary,no,6248,yes,no,unknown,9,may,154,2,-1,0,unknown,no
77,40,technician,single,secondary,no,591,no,yes,cellular,14,aug,87,6,-1,0,unknown,no
82,28,admin.,single,secondary,no,177,yes,yes,cellular,6,may,150,1,-1,0,unknown,no
86,41,technician,single,secondary,no,879,no,yes,cellular,7,jul,60,4,-1,0,unknown,no
87,35,blue-collar,single,primary,no,293,yes,no,unknown,30,may,521,2,-1,0,unknown,no
92,27,services,single,secondary,no,-195,yes,no,cellular,18,may,391,1,-1,0,unknown,yes
93,32,management,single,tertiary,no,3616,no,no,cellular,14,aug,165,2,-1,0,unknown,no
95,41,unknown,single,tertiary,no,1567,no,no,cellular,1,jul,291,2,-1,0,unknown,no
97,30,admin.,single,tertiary,no,261,no,no,cellular,19,oct,233,1,137,20,failure,no
99,31,unemployed,single,primary,no,406,no,no,cellular,4,feb,736,1,-1,0,unknown,yes
101,38,management,single,tertiary,no,493,yes,no,cellular,11,may,553,1,367,7,failure,no
103,57,services,single,primary,no,3777,yes,no,telephone,13,may,65,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4423,45,management,single,tertiary,no,2048,yes,no,cellular,18,oct,310,1,804,1,failure,yes
4434,35,technician,single,secondary,no,175,yes,no,cellular,29,jan,219,1,246,1,failure,no
4435,31,technician,single,secondary,no,4888,yes,no,telephone,5,may,475,4,166,2,failure,no
4436,36,technician,single,tertiary,no,40,no,no,cellular,26,aug,359,3,-1,0,unknown,no
4439,28,student,single,secondary,no,330,no,no,telephone,2,feb,197,1,-1,0,unknown,no
4443,28,management,single,tertiary,no,0,no,no,telephone,27,may,198,2,-1,0,unknown,no
4444,31,technician,single,secondary,no,775,no,no,cellular,2,feb,361,1,-1,0,unknown,no
4446,22,student,single,secondary,no,246,yes,no,telephone,12,may,25,1,-1,0,unknown,no
4447,49,blue-collar,single,primary,no,2146,yes,no,cellular,7,may,1516,2,353,2,other,yes
4449,31,self-employed,single,secondary,no,360,yes,no,unknown,26,may,592,4,-1,0,unknown,no
4454,37,management,single,tertiary,no,102,yes,no,cellular,21,aug,101,2,-1,0,unknown,no
4457,37,blue-collar,single,primary,no,6969,yes,no,unknown,20,may,412,1,-1,0,unknown,no
4458,29,management,single,tertiary,no,572,no,no,cellular,16,dec,314,1,195,1,success,yes
4459,31,admin.,single,secondary,no,223,yes,no,cellular,17,apr,508,1,315,11,success,no
4463,33,technician,single,secondary,no,920,yes,no,cellular,21,nov,58,1,122,4,failure,no
4465,38,management,single,tertiary,no,623,no,no,cellular,28,jun,297,4,144,4,other,yes
4470,31,technician,single,tertiary,no,1166,yes,no,unknown,3,jun,207,1,-1,0,unknown,no
4477,32,management,single,tertiary,no,577,no,no,cellular,7,aug,101,2,-1,0,unknown,no
4479,39,admin.,single,secondary,no,163,yes,no,cellular,30,jan,107,2,-1,0,unknown,no
4488,31,unemployed,single,secondary,no,315,no,no,cellular,30,jan,130,1,2,1,other,no
4491,35,blue-collar,single,secondary,no,0,yes,no,cellular,16,apr,169,1,-1,0,unknown,no
4492,32,technician,single,secondary,no,309,yes,yes,cellular,16,apr,346,1,234,3,failure,no
4493,28,technician,single,tertiary,no,0,yes,no,unknown,4,jun,205,6,-1,0,unknown,no
4494,26,technician,single,secondary,no,668,yes,no,unknown,28,may,576,3,-1,0,unknown,yes
4496,30,blue-collar,single,secondary,no,363,no,no,cellular,28,jul,171,3,-1,0,unknown,no
4497,31,entrepreneur,single,tertiary,no,38,no,no,cellular,20,nov,185,2,-1,0,unknown,no
4504,42,blue-collar,single,secondary,no,1080,yes,yes,cellular,13,may,951,3,370,4,failure,yes
4505,32,admin.,single,secondary,no,620,yes,no,unknown,26,may,1234,3,-1,0,unknown,yes
4515,32,services,single,secondary,no,473,yes,no,cellular,7,jul,624,5,-1,0,unknown,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [20]:
# ageが35以上のデータを抽出
bank_data[bank_data["age"] >= 35]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,married,tertiary,no,307,yes,no,cellular,14,may,341,1,330,2,other,no
7,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,married,tertiary,no,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no
10,39,services,married,secondary,no,9374,yes,no,unknown,20,may,273,1,-1,0,unknown,no
11,43,admin.,married,secondary,no,264,yes,no,cellular,17,apr,113,2,-1,0,unknown,no
12,36,technician,married,tertiary,no,1109,no,no,cellular,13,aug,328,2,-1,0,unknown,no
15,40,management,married,tertiary,no,194,no,yes,cellular,29,aug,189,2,-1,0,unknown,no
16,56,technician,married,secondary,no,4073,no,no,cellular,27,aug,239,5,-1,0,unknown,no
17,37,admin.,single,tertiary,no,2317,yes,no,cellular,20,apr,114,1,152,2,failure,no
20,38,management,divorced,unknown,no,0,yes,no,cellular,18,nov,96,2,-1,0,unknown,no
21,42,management,divorced,tertiary,no,16,no,no,cellular,19,nov,140,3,-1,0,unknown,no
22,44,services,single,secondary,no,106,no,no,unknown,12,jun,109,2,-1,0,unknown,no
23,44,entrepreneur,married,secondary,no,93,no,no,cellular,7,jul,125,2,-1,0,unknown,no
25,41,management,married,tertiary,no,5883,no,no,cellular,20,nov,182,2,-1,0,unknown,no
26,55,blue-collar,married,primary,no,627,yes,no,unknown,5,may,247,1,-1,0,unknown,no
27,67,retired,married,unknown,no,696,no,no,telephone,17,aug,119,1,105,2,failure,no
28,56,self-employed,married,secondary,no,784,no,yes,cellular,30,jul,149,2,-1,0,unknown,no
29,53,admin.,married,secondary,no,105,no,yes,cellular,21,aug,74,2,-1,0,unknown,no
30,68,retired,divorced,secondary,no,4189,no,no,telephone,14,jul,897,2,-1,0,unknown,yes
32,59,management,married,secondary,no,42,no,no,cellular,21,nov,40,1,-1,0,unknown,no
34,49,technician,married,tertiary,no,1235,no,no,cellular,13,aug,354,3,-1,0,unknown,yes
35,42,admin.,divorced,secondary,no,1811,yes,no,unknown,14,may,150,1,-1,0,unknown,no
36,78,retired,divorced,primary,no,229,no,no,telephone,22,oct,97,1,-1,0,unknown,yes
40,38,management,single,tertiary,no,11971,yes,no,unknown,17,nov,609,2,101,3,failure,no
41,36,management,single,tertiary,no,553,no,no,cellular,11,aug,106,2,-1,0,unknown,no
42,52,blue-collar,married,secondary,no,1117,yes,no,cellular,13,may,365,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4475,43,blue-collar,married,secondary,no,1335,yes,no,unknown,6,may,371,2,-1,0,unknown,no
4476,42,management,married,tertiary,no,603,yes,no,cellular,5,nov,298,5,-1,0,unknown,no
4478,43,management,married,tertiary,no,0,yes,no,cellular,17,nov,110,1,-1,0,unknown,no
4479,39,admin.,single,secondary,no,163,yes,no,cellular,30,jan,107,2,-1,0,unknown,no
4481,43,services,married,secondary,no,642,no,no,cellular,31,jul,644,2,-1,0,unknown,no
4482,46,admin.,married,secondary,no,466,yes,no,cellular,29,jan,169,1,-1,0,unknown,no
4484,38,management,married,tertiary,no,3436,no,no,cellular,21,nov,663,4,-1,0,unknown,yes
4485,53,blue-collar,married,primary,no,238,yes,no,cellular,11,may,238,2,361,5,failure,no
4486,37,blue-collar,married,primary,no,378,yes,no,unknown,9,may,514,1,-1,0,unknown,no
4487,49,entrepreneur,divorced,secondary,no,32,no,no,cellular,5,feb,128,1,-1,0,unknown,no
4489,45,management,married,tertiary,no,6945,no,no,cellular,5,aug,131,5,356,3,failure,no
4490,58,admin.,married,secondary,no,3496,yes,no,unknown,2,jun,111,4,-1,0,unknown,no
4491,35,blue-collar,single,secondary,no,0,yes,no,cellular,16,apr,169,1,-1,0,unknown,no
4495,48,management,married,tertiary,no,1175,yes,no,telephone,18,nov,1476,3,-1,0,unknown,no
4499,45,blue-collar,divorced,primary,no,942,no,no,cellular,21,nov,362,1,-1,0,unknown,no
4500,38,admin.,married,secondary,no,4196,yes,no,cellular,12,may,193,2,-1,0,unknown,no
4502,42,services,married,secondary,no,-91,yes,yes,cellular,5,feb,43,1,-1,0,unknown,no
4503,60,self-employed,married,primary,no,362,no,yes,cellular,29,jul,816,6,-1,0,unknown,yes
4504,42,blue-collar,single,secondary,no,1080,yes,yes,cellular,13,may,951,3,370,4,failure,yes
4506,42,unemployed,divorced,tertiary,no,-166,no,no,cellular,29,aug,85,4,-1,0,unknown,no
4508,42,admin.,married,unknown,no,642,yes,yes,unknown,16,may,509,2,-1,0,unknown,no
4509,51,technician,married,tertiary,no,2506,no,no,cellular,30,nov,210,3,-1,0,unknown,no
4510,36,technician,divorced,secondary,no,566,yes,no,unknown,20,may,129,2,-1,0,unknown,no
4511,46,blue-collar,married,secondary,no,668,yes,no,unknown,15,may,1263,2,-1,0,unknown,yes
4512,40,blue-collar,married,secondary,no,1100,yes,no,unknown,29,may,660,2,-1,0,unknown,no
4513,49,blue-collar,married,secondary,no,322,no,no,cellular,14,aug,356,2,-1,0,unknown,no
4514,38,blue-collar,married,secondary,no,1205,yes,no,cellular,20,apr,45,4,153,1,failure,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [21]:
# maritalが「single」のデータを抽出
bank_data[bank_data["marital"] == "single"]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
13,20,student,single,secondary,no,502,no,no,cellular,30,apr,261,1,-1,0,unknown,yes
17,37,admin.,single,tertiary,no,2317,yes,no,cellular,20,apr,114,1,152,2,failure,no
18,25,blue-collar,single,primary,no,-221,yes,no,unknown,23,may,250,1,-1,0,unknown,no
22,44,services,single,secondary,no,106,no,no,unknown,12,jun,109,2,-1,0,unknown,no
33,32,management,single,tertiary,no,2536,yes,no,cellular,26,aug,958,6,-1,0,unknown,yes
39,23,services,single,tertiary,no,363,yes,no,unknown,30,may,16,18,-1,0,unknown,no
40,38,management,single,tertiary,no,11971,yes,no,unknown,17,nov,609,2,101,3,failure,no
41,36,management,single,tertiary,no,553,no,no,cellular,11,aug,106,2,-1,0,unknown,no
44,32,technician,single,tertiary,no,2204,yes,no,cellular,21,nov,11,4,-1,0,unknown,no
45,34,management,single,tertiary,no,872,yes,no,unknown,7,may,105,2,-1,0,unknown,no
48,32,entrepreneur,single,primary,yes,-849,yes,yes,cellular,4,feb,204,1,-1,0,unknown,no
51,37,technician,single,secondary,no,228,yes,no,cellular,20,aug,1740,2,-1,0,unknown,no
52,38,technician,single,secondary,no,50,no,no,cellular,29,aug,98,2,-1,0,unknown,no
57,33,self-employed,single,tertiary,no,2155,no,no,cellular,17,nov,295,1,-1,0,unknown,no
58,36,retired,single,secondary,no,101,yes,yes,unknown,26,may,314,1,-1,0,unknown,no
69,32,technician,single,tertiary,no,360,no,no,cellular,19,nov,164,2,-1,0,unknown,no
72,31,management,single,tertiary,no,6248,yes,no,unknown,9,may,154,2,-1,0,unknown,no
77,40,technician,single,secondary,no,591,no,yes,cellular,14,aug,87,6,-1,0,unknown,no
82,28,admin.,single,secondary,no,177,yes,yes,cellular,6,may,150,1,-1,0,unknown,no
86,41,technician,single,secondary,no,879,no,yes,cellular,7,jul,60,4,-1,0,unknown,no
87,35,blue-collar,single,primary,no,293,yes,no,unknown,30,may,521,2,-1,0,unknown,no
92,27,services,single,secondary,no,-195,yes,no,cellular,18,may,391,1,-1,0,unknown,yes
93,32,management,single,tertiary,no,3616,no,no,cellular,14,aug,165,2,-1,0,unknown,no
95,41,unknown,single,tertiary,no,1567,no,no,cellular,1,jul,291,2,-1,0,unknown,no
97,30,admin.,single,tertiary,no,261,no,no,cellular,19,oct,233,1,137,20,failure,no
99,31,unemployed,single,primary,no,406,no,no,cellular,4,feb,736,1,-1,0,unknown,yes
101,38,management,single,tertiary,no,493,yes,no,cellular,11,may,553,1,367,7,failure,no
103,57,services,single,primary,no,3777,yes,no,telephone,13,may,65,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4423,45,management,single,tertiary,no,2048,yes,no,cellular,18,oct,310,1,804,1,failure,yes
4434,35,technician,single,secondary,no,175,yes,no,cellular,29,jan,219,1,246,1,failure,no
4435,31,technician,single,secondary,no,4888,yes,no,telephone,5,may,475,4,166,2,failure,no
4436,36,technician,single,tertiary,no,40,no,no,cellular,26,aug,359,3,-1,0,unknown,no
4439,28,student,single,secondary,no,330,no,no,telephone,2,feb,197,1,-1,0,unknown,no
4443,28,management,single,tertiary,no,0,no,no,telephone,27,may,198,2,-1,0,unknown,no
4444,31,technician,single,secondary,no,775,no,no,cellular,2,feb,361,1,-1,0,unknown,no
4446,22,student,single,secondary,no,246,yes,no,telephone,12,may,25,1,-1,0,unknown,no
4447,49,blue-collar,single,primary,no,2146,yes,no,cellular,7,may,1516,2,353,2,other,yes
4449,31,self-employed,single,secondary,no,360,yes,no,unknown,26,may,592,4,-1,0,unknown,no
4454,37,management,single,tertiary,no,102,yes,no,cellular,21,aug,101,2,-1,0,unknown,no
4457,37,blue-collar,single,primary,no,6969,yes,no,unknown,20,may,412,1,-1,0,unknown,no
4458,29,management,single,tertiary,no,572,no,no,cellular,16,dec,314,1,195,1,success,yes
4459,31,admin.,single,secondary,no,223,yes,no,cellular,17,apr,508,1,315,11,success,no
4463,33,technician,single,secondary,no,920,yes,no,cellular,21,nov,58,1,122,4,failure,no
4465,38,management,single,tertiary,no,623,no,no,cellular,28,jun,297,4,144,4,other,yes
4470,31,technician,single,tertiary,no,1166,yes,no,unknown,3,jun,207,1,-1,0,unknown,no
4477,32,management,single,tertiary,no,577,no,no,cellular,7,aug,101,2,-1,0,unknown,no
4479,39,admin.,single,secondary,no,163,yes,no,cellular,30,jan,107,2,-1,0,unknown,no
4488,31,unemployed,single,secondary,no,315,no,no,cellular,30,jan,130,1,2,1,other,no
4491,35,blue-collar,single,secondary,no,0,yes,no,cellular,16,apr,169,1,-1,0,unknown,no
4492,32,technician,single,secondary,no,309,yes,yes,cellular,16,apr,346,1,234,3,failure,no
4493,28,technician,single,tertiary,no,0,yes,no,unknown,4,jun,205,6,-1,0,unknown,no
4494,26,technician,single,secondary,no,668,yes,no,unknown,28,may,576,3,-1,0,unknown,yes
4496,30,blue-collar,single,secondary,no,363,no,no,cellular,28,jul,171,3,-1,0,unknown,no
4497,31,entrepreneur,single,tertiary,no,38,no,no,cellular,20,nov,185,2,-1,0,unknown,no
4504,42,blue-collar,single,secondary,no,1080,yes,yes,cellular,13,may,951,3,370,4,failure,yes
4505,32,admin.,single,secondary,no,620,yes,no,unknown,26,may,1234,3,-1,0,unknown,yes
4515,32,services,single,secondary,no,473,yes,no,cellular,7,jul,624,5,-1,0,unknown,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [22]:
# ageが35以上で、なおかつ、maritalが「single」のデータを抽出
bank_data.query("age >= 35 and marital == 'single'")

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
17,37,admin.,single,tertiary,no,2317,yes,no,cellular,20,apr,114,1,152,2,failure,no
22,44,services,single,secondary,no,106,no,no,unknown,12,jun,109,2,-1,0,unknown,no
40,38,management,single,tertiary,no,11971,yes,no,unknown,17,nov,609,2,101,3,failure,no
41,36,management,single,tertiary,no,553,no,no,cellular,11,aug,106,2,-1,0,unknown,no
51,37,technician,single,secondary,no,228,yes,no,cellular,20,aug,1740,2,-1,0,unknown,no
52,38,technician,single,secondary,no,50,no,no,cellular,29,aug,98,2,-1,0,unknown,no
58,36,retired,single,secondary,no,101,yes,yes,unknown,26,may,314,1,-1,0,unknown,no
77,40,technician,single,secondary,no,591,no,yes,cellular,14,aug,87,6,-1,0,unknown,no
86,41,technician,single,secondary,no,879,no,yes,cellular,7,jul,60,4,-1,0,unknown,no
87,35,blue-collar,single,primary,no,293,yes,no,unknown,30,may,521,2,-1,0,unknown,no
95,41,unknown,single,tertiary,no,1567,no,no,cellular,1,jul,291,2,-1,0,unknown,no
101,38,management,single,tertiary,no,493,yes,no,cellular,11,may,553,1,367,7,failure,no
103,57,services,single,primary,no,3777,yes,no,telephone,13,may,65,2,-1,0,unknown,no
124,51,management,single,tertiary,yes,-55,yes,no,cellular,11,may,281,2,266,6,failure,no
127,45,technician,single,secondary,no,586,no,yes,cellular,28,jul,32,3,-1,0,unknown,no
149,37,technician,single,unknown,no,391,yes,no,unknown,8,may,103,3,-1,0,unknown,no
151,36,management,single,tertiary,no,442,yes,yes,cellular,29,jul,102,3,-1,0,unknown,no
162,41,admin.,single,secondary,no,-256,no,yes,unknown,9,may,35,3,-1,0,unknown,no
171,37,management,single,tertiary,no,37,no,no,cellular,28,jan,253,2,-1,0,unknown,no
172,40,admin.,single,secondary,no,462,yes,yes,cellular,6,apr,272,1,335,4,other,no
187,37,services,single,secondary,no,21,yes,no,cellular,2,feb,96,1,271,2,other,no
202,35,technician,single,tertiary,no,2658,yes,no,cellular,19,aug,768,2,141,3,failure,yes
205,45,technician,single,tertiary,no,0,yes,no,cellular,18,nov,139,2,-1,0,unknown,no
208,38,services,single,secondary,no,-196,yes,no,cellular,2,feb,60,1,271,1,failure,no
210,36,technician,single,secondary,no,9149,yes,no,cellular,13,aug,141,3,-1,0,unknown,no
232,44,technician,single,secondary,no,33,yes,no,cellular,13,may,195,3,351,10,failure,no
233,45,blue-collar,single,secondary,no,0,yes,no,cellular,26,jul,768,2,91,5,success,no
262,39,technician,single,tertiary,no,5803,no,no,cellular,2,feb,83,3,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,44,management,single,tertiary,no,1424,yes,no,cellular,8,aug,201,2,-1,0,unknown,no
4238,36,technician,single,tertiary,no,197,no,no,cellular,30,apr,260,1,-1,0,unknown,yes
4260,50,housemaid,single,unknown,no,0,no,no,telephone,28,jul,118,8,-1,0,unknown,no
4267,50,services,single,primary,no,148,yes,no,unknown,7,may,198,2,-1,0,unknown,no
4278,35,admin.,single,secondary,no,1810,yes,no,cellular,25,may,65,2,-1,0,unknown,no
4303,46,technician,single,secondary,no,834,yes,no,cellular,11,jul,196,2,-1,0,unknown,no
4309,40,services,single,secondary,no,1547,yes,no,cellular,12,may,88,2,173,1,success,no
4311,46,admin.,single,secondary,no,1790,yes,no,unknown,5,jun,214,5,-1,0,unknown,no
4326,37,management,single,tertiary,no,9,no,no,cellular,26,aug,484,2,-1,0,unknown,no
4330,40,management,single,tertiary,no,36,yes,no,unknown,27,may,240,3,-1,0,unknown,no
4334,37,entrepreneur,single,secondary,no,20453,yes,no,telephone,4,may,115,1,-1,0,unknown,no
4335,37,services,single,secondary,no,105,no,yes,unknown,17,jun,260,4,-1,0,unknown,no
4351,39,management,single,secondary,no,36,no,no,cellular,29,aug,70,2,-1,0,unknown,no
4358,47,admin.,single,secondary,no,2540,no,no,cellular,18,nov,110,5,-1,0,unknown,no
4359,46,housemaid,single,tertiary,no,3232,no,no,telephone,15,jun,94,2,-1,0,unknown,no
4363,38,blue-collar,single,secondary,no,13156,yes,no,cellular,17,apr,291,4,331,1,failure,no
4384,52,management,single,tertiary,no,4,no,yes,cellular,28,jul,30,9,-1,0,unknown,no
4396,41,retired,single,primary,no,0,no,no,cellular,8,may,239,1,368,2,failure,no
4406,35,unemployed,single,secondary,no,2116,yes,no,cellular,13,may,409,2,-1,0,unknown,no
4423,45,management,single,tertiary,no,2048,yes,no,cellular,18,oct,310,1,804,1,failure,yes
4434,35,technician,single,secondary,no,175,yes,no,cellular,29,jan,219,1,246,1,failure,no
4436,36,technician,single,tertiary,no,40,no,no,cellular,26,aug,359,3,-1,0,unknown,no
4447,49,blue-collar,single,primary,no,2146,yes,no,cellular,7,may,1516,2,353,2,other,yes
4454,37,management,single,tertiary,no,102,yes,no,cellular,21,aug,101,2,-1,0,unknown,no
4457,37,blue-collar,single,primary,no,6969,yes,no,unknown,20,may,412,1,-1,0,unknown,no
4465,38,management,single,tertiary,no,623,no,no,cellular,28,jun,297,4,144,4,other,yes
4479,39,admin.,single,secondary,no,163,yes,no,cellular,30,jan,107,2,-1,0,unknown,no
4491,35,blue-collar,single,secondary,no,0,yes,no,cellular,16,apr,169,1,-1,0,unknown,no
4504,42,blue-collar,single,secondary,no,1080,yes,yes,cellular,13,may,951,3,370,4,failure,yes
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [23]:
# ageが35以上で、なおかつ、maritalが「single」のデータを抽出
bank_data[(bank_data["age"] >= 35) & (bank_data["marital"] == "single")]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
17,37,admin.,single,tertiary,no,2317,yes,no,cellular,20,apr,114,1,152,2,failure,no
22,44,services,single,secondary,no,106,no,no,unknown,12,jun,109,2,-1,0,unknown,no
40,38,management,single,tertiary,no,11971,yes,no,unknown,17,nov,609,2,101,3,failure,no
41,36,management,single,tertiary,no,553,no,no,cellular,11,aug,106,2,-1,0,unknown,no
51,37,technician,single,secondary,no,228,yes,no,cellular,20,aug,1740,2,-1,0,unknown,no
52,38,technician,single,secondary,no,50,no,no,cellular,29,aug,98,2,-1,0,unknown,no
58,36,retired,single,secondary,no,101,yes,yes,unknown,26,may,314,1,-1,0,unknown,no
77,40,technician,single,secondary,no,591,no,yes,cellular,14,aug,87,6,-1,0,unknown,no
86,41,technician,single,secondary,no,879,no,yes,cellular,7,jul,60,4,-1,0,unknown,no
87,35,blue-collar,single,primary,no,293,yes,no,unknown,30,may,521,2,-1,0,unknown,no
95,41,unknown,single,tertiary,no,1567,no,no,cellular,1,jul,291,2,-1,0,unknown,no
101,38,management,single,tertiary,no,493,yes,no,cellular,11,may,553,1,367,7,failure,no
103,57,services,single,primary,no,3777,yes,no,telephone,13,may,65,2,-1,0,unknown,no
124,51,management,single,tertiary,yes,-55,yes,no,cellular,11,may,281,2,266,6,failure,no
127,45,technician,single,secondary,no,586,no,yes,cellular,28,jul,32,3,-1,0,unknown,no
149,37,technician,single,unknown,no,391,yes,no,unknown,8,may,103,3,-1,0,unknown,no
151,36,management,single,tertiary,no,442,yes,yes,cellular,29,jul,102,3,-1,0,unknown,no
162,41,admin.,single,secondary,no,-256,no,yes,unknown,9,may,35,3,-1,0,unknown,no
171,37,management,single,tertiary,no,37,no,no,cellular,28,jan,253,2,-1,0,unknown,no
172,40,admin.,single,secondary,no,462,yes,yes,cellular,6,apr,272,1,335,4,other,no
187,37,services,single,secondary,no,21,yes,no,cellular,2,feb,96,1,271,2,other,no
202,35,technician,single,tertiary,no,2658,yes,no,cellular,19,aug,768,2,141,3,failure,yes
205,45,technician,single,tertiary,no,0,yes,no,cellular,18,nov,139,2,-1,0,unknown,no
208,38,services,single,secondary,no,-196,yes,no,cellular,2,feb,60,1,271,1,failure,no
210,36,technician,single,secondary,no,9149,yes,no,cellular,13,aug,141,3,-1,0,unknown,no
232,44,technician,single,secondary,no,33,yes,no,cellular,13,may,195,3,351,10,failure,no
233,45,blue-collar,single,secondary,no,0,yes,no,cellular,26,jul,768,2,91,5,success,no
262,39,technician,single,tertiary,no,5803,no,no,cellular,2,feb,83,3,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,44,management,single,tertiary,no,1424,yes,no,cellular,8,aug,201,2,-1,0,unknown,no
4238,36,technician,single,tertiary,no,197,no,no,cellular,30,apr,260,1,-1,0,unknown,yes
4260,50,housemaid,single,unknown,no,0,no,no,telephone,28,jul,118,8,-1,0,unknown,no
4267,50,services,single,primary,no,148,yes,no,unknown,7,may,198,2,-1,0,unknown,no
4278,35,admin.,single,secondary,no,1810,yes,no,cellular,25,may,65,2,-1,0,unknown,no
4303,46,technician,single,secondary,no,834,yes,no,cellular,11,jul,196,2,-1,0,unknown,no
4309,40,services,single,secondary,no,1547,yes,no,cellular,12,may,88,2,173,1,success,no
4311,46,admin.,single,secondary,no,1790,yes,no,unknown,5,jun,214,5,-1,0,unknown,no
4326,37,management,single,tertiary,no,9,no,no,cellular,26,aug,484,2,-1,0,unknown,no
4330,40,management,single,tertiary,no,36,yes,no,unknown,27,may,240,3,-1,0,unknown,no
4334,37,entrepreneur,single,secondary,no,20453,yes,no,telephone,4,may,115,1,-1,0,unknown,no
4335,37,services,single,secondary,no,105,no,yes,unknown,17,jun,260,4,-1,0,unknown,no
4351,39,management,single,secondary,no,36,no,no,cellular,29,aug,70,2,-1,0,unknown,no
4358,47,admin.,single,secondary,no,2540,no,no,cellular,18,nov,110,5,-1,0,unknown,no
4359,46,housemaid,single,tertiary,no,3232,no,no,telephone,15,jun,94,2,-1,0,unknown,no
4363,38,blue-collar,single,secondary,no,13156,yes,no,cellular,17,apr,291,4,331,1,failure,no
4384,52,management,single,tertiary,no,4,no,yes,cellular,28,jul,30,9,-1,0,unknown,no
4396,41,retired,single,primary,no,0,no,no,cellular,8,may,239,1,368,2,failure,no
4406,35,unemployed,single,secondary,no,2116,yes,no,cellular,13,may,409,2,-1,0,unknown,no
4423,45,management,single,tertiary,no,2048,yes,no,cellular,18,oct,310,1,804,1,failure,yes
4434,35,technician,single,secondary,no,175,yes,no,cellular,29,jan,219,1,246,1,failure,no
4436,36,technician,single,tertiary,no,40,no,no,cellular,26,aug,359,3,-1,0,unknown,no
4447,49,blue-collar,single,primary,no,2146,yes,no,cellular,7,may,1516,2,353,2,other,yes
4454,37,management,single,tertiary,no,102,yes,no,cellular,21,aug,101,2,-1,0,unknown,no
4457,37,blue-collar,single,primary,no,6969,yes,no,unknown,20,may,412,1,-1,0,unknown,no
4465,38,management,single,tertiary,no,623,no,no,cellular,28,jun,297,4,144,4,other,yes
4479,39,admin.,single,secondary,no,163,yes,no,cellular,30,jan,107,2,-1,0,unknown,no
4491,35,blue-collar,single,secondary,no,0,yes,no,cellular,16,apr,169,1,-1,0,unknown,no
4504,42,blue-collar,single,secondary,no,1080,yes,yes,cellular,13,may,951,3,370,4,failure,yes
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [24]:
#DataFrame から ndarray に変換する
nd_bank_data = bank_data.values

print(type(nd_bank_data))
print(nd_bank_data)

<class 'numpy.ndarray'>
[[30 'unemployed' 'married' ... 0 'unknown' 'no']
 [33 'services' 'married' ... 4 'failure' 'no']
 [35 'management' 'single' ... 1 'failure' 'no']
 ...
 [57 'technician' 'married' ... 0 'unknown' 'no']
 [28 'blue-collar' 'married' ... 3 'other' 'no']
 [44 'entrepreneur' 'single' ... 7 'other' 'no']]

In [25]:
nd_bank_columns = bank_data.columns.values

print(type(nd_bank_columns))
print(nd_bank_columns)

<class 'numpy.ndarray'>
['age' 'job' 'marital' 'education' 'default' 'balance' 'housing' 'loan'
 'contact' 'day' 'month' 'duration' 'campaign' 'pdays' 'previous'
 'poutcome' 'y']

In [26]:
#ndarray から DataFrame に変換する
re_bank_data = pd.DataFrame(data = nd_bank_data, columns = nd_bank_columns)

print(type(re_bank_data))
re_bank_data.head()

<class 'pandas.core.frame.DataFrame'>

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no